In [3]:
import numpy as np

## Create a NumPy array:

In [3]:
arr = np.array([1, 2, 3, 4, 5], dtype=int)
print(arr)
print(type(arr))

[1 2 3 4 5]
<class 'numpy.ndarray'>

In [7]:
### Create array with datatype

arr = np.array([1, 2, 3, 4, 5], dtype=int)
print(arr)
print(arr.dtype)

arr = np.array([1, 2, 3, 4, 5], dtype=float)
print(arr)
print(arr.dtype)

[1 2 3 4 5]
int64
[1. 2. 3. 4. 5.]
float64

In [1]:
def softmax(x):
    """Compute softmax values for each sets of scores in x."""
    return np.exp(x) / np.sum(np.exp(x), axis=0)

In [4]:
scores = [3.0, 1.0, 0.2]
print(softmax(scores))

[0.8360188  0.11314284 0.05083836]

In [5]:
import pandas as pd
import numpy as np
 
# creating and initializing a nested list
values_list = [[15, 2.5, 100], [20, 4.5, 50], [25, 5.2, 80],
               [45, 5.8, 48], [40, 6.3, 70], [41, 6.4, 90],
               [51, 2.3, 111]]
 
# creating a pandas dataframe
df = pd.DataFrame(values_list, columns=['Field_1', 'Field_2', 'Field_3'],
                  index=['a', 'b', 'c', 'd', 'e', 'f', 'g'])

In [6]:
df

   Field_1  Field_2  Field_3
a       15      2.5      100
b       20      4.5       50
c       25      5.2       80
d       45      5.8       48
e       40      6.3       70
f       41      6.4       90
g       51      2.3      111

In [7]:
 
# Apply function numpy.square() to square
# the values of one row only i.e. row
# with index name 'd'
df = df.apply(lambda x: np.square(x) if x.name == 'd' else x, axis=1)
 
 
# printing dataframe
df

   Field_1  Field_2  Field_3
a     15.0     2.50    100.0
b     20.0     4.50     50.0
c     25.0     5.20     80.0
d   2025.0    33.64   2304.0
e     40.0     6.30     70.0
f     41.0     6.40     90.0
g     51.0     2.30    111.0